
    
    <div class="bg-dark text-white text-center mt-3 pb-3 pt-3">
      <div class="container">Copyright © 2021 Teach Coders - All Rights Reserved.</div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js"></script>



  <!-- yah editor plugin hai jiska lbrary public folder ke and ckeditor ke men hai -->
<script src="/ckeditor/ckeditor.js"></script>
  <script>
      ClassicEditor
      .create( document.querySelector( '.editor' ))
      //Note : Page_Details are form textarea kaa class name hai
  </script>
     